<a class="skip-navigation" href="#main" tabindex="0">
    Skip to main content
    </a>
<div class="page">
    <div class="bg-photo-overlay"></div>
    <div class="bg-photo-container">
        <div class="bg-photo"></div>
    </div>
    <div class="page_body">
        <div class="centered">
            <header class="centered-top-container animating" role="banner" style="">
                <div class="centered-top">
                    <button class="svg-icon-24-button hamburger-menu flat-icon-button ripple">
    <svg class="svg-icon-24">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_menu_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    </button>
                    <div class="clearboth"></div>
                    <div class="blog-name container">
                        <div class="container no-items section" id="header" name="Header">
                        </div>
                        <section class="subscribe-section-container">
                            <button class="subscribe-button pill-button">Subscribe</button>
                            <div class="subscribe-popup-container">
                                <div aria-labelledby="subscribe-title" class="subscribe-popup dialog hidden" role="dialog" tabindex="-1">
                                    <div role="document">
                                        <h3 class="subscribe-title" id="subscribe-title">Subscribe to this blog</h3>
                                        <div class="section" id="subscription" name="Subscription">
                                            <div class="widget FollowByEmail" data-version="2" id="FollowByEmail1">
                                                <h3 class="title">
                                                    Follow by Email
                                                </h3>
                                                <div class="widget-content">
                                                    <div class="follow-by-email-inner">
                                                        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" onsubmit="window.open(&quot;https://feedburner.google.com/fb/a/mailverify?uri=LarkBlogs&quot;, &quot;popupwindow&quot;, &quot;scrollbars=yes,width=550,height=520&quot;); return true"
                                                            target="popupwindow">
                                                            <input autocomplete="off" class="follow-by-email-address" name="email" placeholder="Email Address" type="email">
                                                            <input class="follow-by-email-submit" type="submit" value="Get email notifications" disabled="" aria-disabled="true">
                                                            <input name="uri" type="hidden" value="LarkBlogs">
                                                            <input name="loc" type="hidden" value="en_US">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <nav role="navigation">
                            <div class="clearboth no-items section" id="page_list_top" name="Page List (Top)">
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="centered-top-placeholder"></div>

            <div>
                <div class="vertical-ad-container no-items section" id="ads" name="Ads">
                </div>
                <main class="centered-bottom" id="main" role="main" tabindex="-1">
                    <h2 class="main-heading">Posts</h2>
                    <div class="main section" id="page_body" name="Page Body">
                        <div class="widget Blog" data-version="2" id="Blog1">
                            <div class="blog-posts hfeed container">
                                <article class="post-outer-container">
                                    <div class="post-outer">
                                        <div class="post">
                                            <script type="application/ld+json">
                                                {
                                                    "@context": "http://schema.org",
                                                    "@type": "BlogPosting",
                                                    "mainEntityOfPage": {
                                                        "@type": "WebPage",
                                                        "@id": "http://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                    },
                                                    "headline": "Closures in Javascript",
                                                    "description": "Closures is yet another topic in Javascript that often throws people off. The thing about closures is that it is used all the time in Javascript, but&#8230;",
                                                    "datePublished": "2018-09-27T02:34:00-07:00",
                                                    "dateModified": "2018-09-27T03:19:25-07:00",
                                                    "image": {
                                                        "@type": "ImageObject",
                                                        "url": "https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/w1200-h630-p-k-no-nu/Closures.png",
                                                        "height": 630,
                                                        "width": 1200
                                                    },
                                                    "publisher": {
                                                        "@type": "Organization",
                                                        "name": "Blogger",
                                                        "logo": {
                                                            "@type": "ImageObject",
                                                            "url": "https://lh3.googleusercontent.com/ULB6iBuCeTVvSjjjU1A-O8e9ZpVba6uvyhtiWRti_rBAs9yMYOFBujxriJRZ-A=h60",
                                                            "width": 206,
                                                            "height": 60
                                                        }
                                                    },
                                                    "author": {
                                                        "@type": "Person",
                                                        "name": "A K"
                                                    }
                                                }
                                            </script>
                                            <a name="6389295002801024920"></a>
                                            <h3 class="post-title entry-title">
                                                <a href="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html">Closures in Javascript</a>
                                            </h3>
                                            <div class="post-share-buttons post-share-buttons-top">
                                                <div class="byline post-share-buttons goog-inline-block">
                                                    <div aria-owns="sharing-popup-Blog1-byline-6389295002801024920" class="sharing" data-title="Closures in Javascript">
                                                        <button aria-controls="sharing-popup-Blog1-byline-6389295002801024920" aria-label="Share" class="sharing-button touch-icon-button" id="sharing-button-Blog1-byline-6389295002801024920" role="button" aria-expanded="false" aria-haspopup="true">
    <div class="flat-icon-button ripple">
    <svg class="svg-icon-24">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_share_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    </div>
    </button>
                                                        <div class="share-buttons-container">
                                                            <ul aria-hidden="true" aria-label="Share" class="share-buttons hidden" id="sharing-popup-Blog1-byline-6389295002801024920" role="menu">
                                                                <li>
                                                                    <span aria-label="Get link" class="sharing-platform-button sharing-element-link" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=6389295002801024920&amp;target=" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                                        role="menuitem" tabindex="-1" title="Get link">
    <svg class="svg-icon-24 touch-icon sharing-link">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_link_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Get link</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Facebook" class="sharing-platform-button sharing-element-facebook" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=6389295002801024920&amp;target=facebook" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Facebook">
    <svg class="svg-icon-24 touch-icon sharing-facebook">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_facebook_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Facebook</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Twitter" class="sharing-platform-button sharing-element-twitter" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=6389295002801024920&amp;target=twitter" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Twitter">
    <svg class="svg-icon-24 touch-icon sharing-twitter">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_twitter_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Twitter</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Pinterest" class="sharing-platform-button sharing-element-pinterest" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=6389295002801024920&amp;target=pinterest" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Pinterest">
    <svg class="svg-icon-24 touch-icon sharing-pinterest">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_pinterest_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Pinterest</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Google+" class="sharing-platform-button sharing-element-googlePlus" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=6389295002801024920&amp;target=googleplus" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Google+">
    <svg class="svg-icon-24 touch-icon sharing-googlePlus">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_googlePlus_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Google+</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Email" class="sharing-platform-button sharing-element-email" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=6389295002801024920&amp;target=email" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"
                                                                        role="menuitem" tabindex="-1" title="Email">
    <svg class="svg-icon-24 touch-icon sharing-email">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_email_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Email</span>
                                                                    </span>
                                                                </li>
                                                                <li aria-hidden="true" class="hidden">
                                                                    <span aria-label="Share to other apps" class="sharing-platform-button sharing-element-other" data-url="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html" role="menuitem" tabindex="-1" title="Share to other apps">
    <svg class="svg-icon-24 touch-icon sharing-sharingOther">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_more_horiz_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Other Apps</span>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-header">
                                                <div class="post-header-line-1">
                                                    <span class="byline post-timestamp">
    -
    <meta content="http://larklearning.blogspot.com/2018/09/closures-in-javascript.html">
    <a class="timestamp-link" href="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html" rel="bookmark" title="permanent link">
    <time class="published" datetime="2018-09-27T02:34:00-07:00" title="2018-09-27T02:34:00-07:00">
    September 27, 2018
    </time>
    </a>
    </span>
                                                </div>
                                            </div>
                                            <div class="container post-body entry-content" id="post-snippet-6389295002801024920">
                                                <div class="snippet-thumbnail">
                                                    <img alt="Image" sizes="(max-width: 800px) 20vw, 128px" src="https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/s640/Closures.png" srcset="https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/w32-h32-p-k-no-nu/Closures.png 32w, https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/w64-h64-p-k-no-nu/Closures.png 64w, https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/w128-h128-p-k-no-nu/Closures.png 128w, https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/w256-h256-p-k-no-nu/Closures.png 256w">
                                                </div>
                                                <div class="post-snippet snippet-container r-snippet-container">
                                                    <div class="snippet-item r-snippetized">
                                                        Closures is yet another topic in Javascript that often throws people off. The thing about closures is that it is used all the time in Javascript, but most don’t recognize it. But once you get it, it sticks. Now let’s carry forward from my other posts
                                                        and check this one off the To-Learn-Debt at the end of this post. Understanding closures requires a good understanding of variable scopes in Javascript. Although this post is not meant to teach that,
                                                        I’ll make a quick mention of some ground rules to keep in mind when it comes to scope: Functions can be nested forming variable access chains. The deepest function has access to all variables dec
                                                    </div>
                                                    <a class="snippet-fade r-snippet-fade" href="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html"></a>
                                                </div>
                                            </div>
                                            <div class="post-bottom">
                                                <div class="post-footer float-container">
                                                    <div class="post-footer-line post-footer-line-1">
                                                        <span class="byline post-comment-link container">
    <a class="comment-link" href="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html#comments" onclick="">
    <svg class="svg-icon-24 touch-icon">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_mode_comment_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="num_comments">
    Post a Comment
    </span>
                                                        </a>
                                                        </span>
                                                    </div>
                                                    <div class="post-footer-line post-footer-line-2">
                                                    </div>
                                                    <div class="post-footer-line post-footer-line-3">
                                                    </div>
                                                </div>
                                                <div class="jump-link flat-button ripple">
                                                    <a href="https://larklearning.blogspot.com/2018/09/closures-in-javascript.html" title="Closures in Javascript">
    Read more
    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <div class="desktop-ad mobile-ad">
                                </div>
                                <article class="post-outer-container">
                                    <div class="post-outer">
                                        <div class="post">
                                            <script type="application/ld+json">
                                                {
                                                    "@context": "http://schema.org",
                                                    "@type": "BlogPosting",
                                                    "mainEntityOfPage": {
                                                        "@type": "WebPage",
                                                        "@id": "http://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                    },
                                                    "headline": "No title",
                                                    "description": "Hoisting is an often talked about concept which could be confusing for those especially new to Javascript. Let&#8217;s take a quick look at what it really &#8230;",
                                                    "datePublished": "2018-09-27T00:39:00-07:00",
                                                    "dateModified": "2018-09-27T03:21:31-07:00",
                                                    "image": {
                                                        "@type": "ImageObject",
                                                        "url": "https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/w1200-h630-p-k-no-nu/hoistJS.png",
                                                        "height": 630,
                                                        "width": 1200
                                                    },
                                                    "publisher": {
                                                        "@type": "Organization",
                                                        "name": "Blogger",
                                                        "logo": {
                                                            "@type": "ImageObject",
                                                            "url": "https://lh3.googleusercontent.com/ULB6iBuCeTVvSjjjU1A-O8e9ZpVba6uvyhtiWRti_rBAs9yMYOFBujxriJRZ-A=h60",
                                                            "width": 206,
                                                            "height": 60
                                                        }
                                                    },
                                                    "author": {
                                                        "@type": "Person",
                                                        "name": "A K"
                                                    }
                                                }
                                            </script>
                                            <a name="7969571005712494505"></a>
                                            <div class="post-share-buttons post-share-buttons-top">
                                                <div class="byline post-share-buttons goog-inline-block">
                                                    <div aria-owns="sharing-popup-Blog1-byline-7969571005712494505" class="sharing" data-title="">
                                                        <button aria-controls="sharing-popup-Blog1-byline-7969571005712494505" aria-label="Share" class="sharing-button touch-icon-button" id="sharing-button-Blog1-byline-7969571005712494505" role="button" aria-expanded="false" aria-haspopup="true">
    <div class="flat-icon-button ripple">
    <svg class="svg-icon-24">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_share_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    </div>
    </button>
                                                        <div class="share-buttons-container">
                                                            <ul aria-hidden="true" aria-label="Share" class="share-buttons hidden" id="sharing-popup-Blog1-byline-7969571005712494505" role="menu">
                                                                <li>
                                                                    <span aria-label="Get link" class="sharing-platform-button sharing-element-link" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=7969571005712494505&amp;target=" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                                        role="menuitem" tabindex="-1" title="Get link">
    <svg class="svg-icon-24 touch-icon sharing-link">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_link_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Get link</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Facebook" class="sharing-platform-button sharing-element-facebook" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=7969571005712494505&amp;target=facebook" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Facebook">
    <svg class="svg-icon-24 touch-icon sharing-facebook">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_facebook_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Facebook</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Twitter" class="sharing-platform-button sharing-element-twitter" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=7969571005712494505&amp;target=twitter" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Twitter">
    <svg class="svg-icon-24 touch-icon sharing-twitter">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_twitter_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Twitter</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Pinterest" class="sharing-platform-button sharing-element-pinterest" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=7969571005712494505&amp;target=pinterest" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Pinterest">
    <svg class="svg-icon-24 touch-icon sharing-pinterest">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_pinterest_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Pinterest</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Share to Google+" class="sharing-platform-button sharing-element-googlePlus" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=7969571005712494505&amp;target=googleplus" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                                        role="menuitem" tabindex="-1" title="Share to Google+">
    <svg class="svg-icon-24 touch-icon sharing-googlePlus">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_googlePlus_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Google+</span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span aria-label="Email" class="sharing-platform-button sharing-element-email" data-href="https://draft.blogger.com/share-post.g?blogID=9148225327871880688&amp;postID=7969571005712494505&amp;target=email" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"
                                                                        role="menuitem" tabindex="-1" title="Email">
    <svg class="svg-icon-24 touch-icon sharing-email">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_24_email_dark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Email</span>
                                                                    </span>
                                                                </li>
                                                                <li aria-hidden="true" class="hidden">
                                                                    <span aria-label="Share to other apps" class="sharing-platform-button sharing-element-other" data-url="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html" role="menuitem" tabindex="-1" title="Share to other apps">
    <svg class="svg-icon-24 touch-icon sharing-sharingOther">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_more_horiz_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="platform-sharing-text">Other Apps</span>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-header">
                                                <div class="post-header-line-1">
                                                    <span class="byline post-timestamp">
    -
    <meta content="http://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html">
    <a class="timestamp-link" href="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html" rel="bookmark" title="permanent link">
    <time class="published" datetime="2018-09-27T00:39:00-07:00" title="2018-09-27T00:39:00-07:00">
    September 27, 2018
    </time>
    </a>
    </span>
                                                </div>
                                            </div>
                                            <div class="container post-body entry-content" id="post-snippet-7969571005712494505">
                                                <div class="snippet-thumbnail">
                                                    <img alt="Image" sizes="(max-width: 800px) 20vw, 128px" src="https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/s640/hoistJS.png" srcset="https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/w32-h32-p-k-no-nu/hoistJS.png 32w, https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/w64-h64-p-k-no-nu/hoistJS.png 64w, https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/w128-h128-p-k-no-nu/hoistJS.png 128w, https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/w256-h256-p-k-no-nu/hoistJS.png 256w">
                                                </div>
                                                <div class="post-snippet snippet-container r-snippet-container">
                                                    <div class="snippet-item r-snippetized">
                                                        Hoisting is an often talked about concept which could be confusing for those especially new to Javascript. Let’s take a quick look at what it really is and then check it off the To-Learn-Debt once and for all. Before we dive into hoisting, it is important
                                                        to know that although Javascript is widely popular as an interpreted language, it actually compiles the code before running it. Agreed, it is not the kind of compilation that one would see in languages
                                                        such as C or Java where the code is compiled to an executable type of file. Still, Javascript engines typically scan through the entire file before running it and build a Abstract Syntax Tree (AST)
                                                        which is later used to execute the script. And here’s where hoisting happens for variables and functions. Variable Hoisting When a variable is found to be used within a block of code, typically a
                                                        function, the declaration of the variable is moved all the way up to the beginning of the block. This happens regardless of what part of the code…
                                                    </div>
                                                    <a class="snippet-fade r-snippet-fade" href="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html"></a>
                                                </div>
                                            </div>
                                            <div class="post-bottom">
                                                <div class="post-footer float-container">
                                                    <div class="post-footer-line post-footer-line-1">
                                                        <span class="byline post-comment-link container">
    <a class="comment-link" href="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html#comments" onclick="">
    <svg class="svg-icon-24 touch-icon">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_mode_comment_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span class="num_comments">
    Post a Comment
    </span>
                                                        </a>
                                                        </span>
                                                    </div>
                                                    <div class="post-footer-line post-footer-line-2">
                                                    </div>
                                                    <div class="post-footer-line post-footer-line-3">
                                                    </div>
                                                </div>
                                                <div class="jump-link flat-button ripple">
                                                    <a href="https://larklearning.blogspot.com/2018/09/hoisting-is-often-talked-about-concept.html" title="">
    Read more
    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="blog-pager container" id="blog-pager">
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <footer class="footer section" id="footer" name="Footer">
                <div class="widget Attribution" data-version="2" id="Attribution1">
                    <div class="widget-content">
                        <div class="blogger">
                            <a href="https://draft.blogger.com" rel="nofollow">
                                <svg class="svg-icon-24">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_post_blogger_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg> Powered by Blogger
                            </a>
                        </div>
                        <div class="image-attribution">
                            Theme images by <a href="http://www.istockphoto.com/file_closeup.php?id=5613056&amp;platform=blogger">sololos</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<aside class="sidebar-container container sidebar-invisible" role="complementary">
    <div class="navigation">
        <button class="svg-icon-24-button flat-icon-button ripple sidebar-back">
    <svg class="svg-icon-24">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_arrow_back_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    </button>
    </div>
    <div class="sidebar_top_wrapper no-items">
        <div class="sidebar_top no-items section" id="sidebar_top" name="Sidebar (Top)">
        </div>
    </div>
    <div class="sidebar_bottom section" id="sidebar_bottom" name="Sidebar (Bottom)">
        <div class="widget BlogArchive" data-version="2" id="BlogArchive1">
            <details class="collapsible extendable">
                <summary>
                    <div class="collapsible-title">
                        <h3 class="title">
                            Archive
                        </h3>
                        <svg class="svg-icon-24 chevron-down">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_expand_more_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
                        <svg class="svg-icon-24 chevron-up">
    <use xlink:href="/responsive/sprite_v1_6.css.svg#ic_expand_less_black_24dp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
                    </div>
                </summary>
                <div class="widget-content">
                    <div id="ArchiveList">
                        <div id="BlogArchive1_ArchiveList">
                            <div class="first-items">
                                <ul class="flat">
                                    <li class="archivedate">
                                        <a href="https://larklearning.blogspot.com/2018/09/">September 2018<span class="post-count">2</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
        </div>
    </div>
</aside>
<script type="text/javascript" src="https://resources.blogblog.com/blogblog/data/res/119276494-indie_compiled.js" async="true"></script>

<script type="text/javascript" src="https://www.blogger.com/static/v1/widgets/1859629982-widgets.js"></script>
<script type="text/javascript">
    window['__wavt'] = 'AOuZoY5G0Lt9PRFVna3MMyjAU8m4GTlv2g:1538065221476';
    _WidgetManager._Init('//draft.blogger.com/rearrange?blogID\x3d9148225327871880688', '//larklearning.blogspot.com/', '9148225327871880688');
    _WidgetManager._SetDataContext([{
        'name': 'blog',
        'data': {
            'blogId': '9148225327871880688',
            'title': 'LARK Blogs',
            'url': 'https://larklearning.blogspot.com/',
            'canonicalUrl': 'http://larklearning.blogspot.com/',
            'homepageUrl': 'https://larklearning.blogspot.com/',
            'searchUrl': 'https://larklearning.blogspot.com/search',
            'canonicalHomepageUrl': 'http://larklearning.blogspot.com/',
            'blogspotFaviconUrl': 'https://larklearning.blogspot.com/favicon.ico',
            'bloggerUrl': 'https://draft.blogger.com',
            'hasCustomDomain': false,
            'httpsEnabled': true,
            'enabledCommentProfileImages': true,
            'gPlusViewType': 'FILTERED_POSTMOD',
            'adultContent': false,
            'analyticsAccountNumber': '',
            'encoding': 'UTF-8',
            'locale': 'en',
            'localeUnderscoreDelimited': 'en',
            'languageDirection': 'ltr',
            'isPrivate': false,
            'isMobile': false,
            'isMobileRequest': false,
            'mobileClass': '',
            'isPrivateBlog': false,
            'feedLinks': '\x3clink rel\x3d\x22alternate\x22 type\x3d\x22application/atom+xml\x22 title\x3d\x22LARK Blogs - Atom\x22 href\x3d\x22https://larklearning.blogspot.com/feeds/posts/default\x22 /\x3e\n\x3clink rel\x3d\x22alternate\x22 type\x3d\x22application/rss+xml\x22 title\x3d\x22LARK Blogs - RSS\x22 href\x3d\x22https://larklearning.blogspot.com/feeds/posts/default?alt\x3drss\x22 /\x3e\n\x3clink rel\x3d\x22service.post\x22 type\x3d\x22application/atom+xml\x22 title\x3d\x22LARK Blogs - Atom\x22 href\x3d\x22https://draft.blogger.com/feeds/9148225327871880688/posts/default\x22 /\x3e\n',
            'meTag': '',
            'adsenseHostId': 'ca-host-pub-1556223355139109',
            'adsenseHasAds': true,
            'view': '',
            'dynamicViewsCommentsSrc': '//www.blogblog.com/dynamicviews/4224c15c4e7c9321/js/comments.js',
            'dynamicViewsScriptSrc': '//www.blogblog.com/dynamicviews/cc2bdf97485f4b41',
            'plusOneApiSrc': 'https://apis.google.com/js/plusone.js',
            'sharing': {
                'platforms': [{
                    'name': 'Get link',
                    'key': 'link',
                    'shareMessage': 'Get link',
                    'target': ''
                }, {
                    'name': 'Facebook',
                    'key': 'facebook',
                    'shareMessage': 'Share to Facebook',
                    'target': 'facebook'
                }, {
                    'name': 'BlogThis!',
                    'key': 'blogThis',
                    'shareMessage': 'BlogThis!',
                    'target': 'blog'
                }, {
                    'name': 'Twitter',
                    'key': 'twitter',
                    'shareMessage': 'Share to Twitter',
                    'target': 'twitter'
                }, {
                    'name': 'Pinterest',
                    'key': 'pinterest',
                    'shareMessage': 'Share to Pinterest',
                    'target': 'pinterest'
                }, {
                    'name': 'Google+',
                    'key': 'googlePlus',
                    'shareMessage': 'Share to Google+',
                    'target': 'googleplus'
                }, {
                    'name': 'Email',
                    'key': 'email',
                    'shareMessage': 'Email',
                    'target': 'email'
                }],
                'googlePlusShareButtonWidth': 300,
                'googlePlusBootstrap': '\x3cscript type\x3d\x22text/javascript\x22\x3ewindow.___gcfg \x3d {\x27lang\x27: \x27en\x27};\x3c/script\x3e'
            },
            'hasCustomJumpLinkMessage': false,
            'jumpLinkMessage': 'Read more',
            'pageType': 'index',
            'pageName': '',
            'pageTitle': 'LARK Blogs'
        }
    }, {
        'name': 'features',
        'data': {
            'cmt_anon_warn': 'false',
            'sharing_get_link_dialog': 'true',
            'sharing_native': 'false'
        }
    }, {
        'name': 'messages',
        'data': {
            'edit': 'Edit',
            'linkCopiedToClipboard': 'Link copied to clipboard!',
            'ok': 'Ok',
            'postLink': 'Post Link'
        }
    }, {
        'name': 'template',
        'data': {
            'name': 'custom',
            'localizedName': 'Custom',
            'isResponsive': true,
            'isAlternateRendering': false,
            'isCustom': true
        }
    }, {
        'name': 'view',
        'data': {
            'classic': {
                'name': 'classic',
                'url': '?view\x3dclassic'
            },
            'flipcard': {
                'name': 'flipcard',
                'url': '?view\x3dflipcard'
            },
            'magazine': {
                'name': 'magazine',
                'url': '?view\x3dmagazine'
            },
            'mosaic': {
                'name': 'mosaic',
                'url': '?view\x3dmosaic'
            },
            'sidebar': {
                'name': 'sidebar',
                'url': '?view\x3dsidebar'
            },
            'snapshot': {
                'name': 'snapshot',
                'url': '?view\x3dsnapshot'
            },
            'timeslide': {
                'name': 'timeslide',
                'url': '?view\x3dtimeslide'
            },
            'isMobile': false,
            'title': 'LARK Blogs',
            'description': '',
            'url': 'https://larklearning.blogspot.com/',
            'type': 'feed',
            'isSingleItem': false,
            'isMultipleItems': true,
            'isError': false,
            'isPage': false,
            'isPost': false,
            'isHomepage': true,
            'isArchive': false,
            'isLabelSearch': false
        }
    }, {
        'name': 'widgets',
        'data': [{
            'title': 'Follow by Email',
            'type': 'FollowByEmail',
            'sectionId': 'subscription',
            'id': 'FollowByEmail1'
        }, {
            'title': 'Blog Posts',
            'type': 'Blog',
            'sectionId': 'page_body',
            'id': 'Blog1',
            'posts': [{
                'id': '6389295002801024920',
                'title': 'Closures in Javascript',
                'featuredImage': 'https://3.bp.blogspot.com/-cKBjih3J6Uc/W6yftsNEtxI/AAAAAAAAAEY/JbyCDseTB7MFiN9rRt6guU-dY9GLwghQgCEwYBhgL/s640/Closures.png',
                'showInlineAds': true
            }, {
                'id': '7969571005712494505',
                'title': '',
                'featuredImage': 'https://1.bp.blogspot.com/-DOu6RUp-i7w/W6nliCPznQI/AAAAAAAAAEA/9rdWk6WAyuIcL8GwAMAZur8RCXLq6k63wCLcBGAs/s640/hoistJS.png',
                'showInlineAds': true
            }],
            'headerByline': {
                'regionName': 'header1',
                'items': [{
                    'name': 'share',
                    'label': ''
                }, {
                    'name': 'timestamp',
                    'label': '-'
                }]
            },
            'footerBylines': [{
                'regionName': 'footer1',
                'items': [{
                    'name': 'comments',
                    'label': 'comments'
                }, {
                    'name': 'icons',
                    'label': ''
                }]
            }, {
                'regionName': 'footer2',
                'items': [{
                    'name': 'labels',
                    'label': ''
                }]
            }, {
                'regionName': 'footer3',
                'items': [{
                    'name': 'location',
                    'label': 'Location:'
                }]
            }],
            'allBylineItems': [{
                'name': 'share',
                'label': ''
            }, {
                'name': 'timestamp',
                'label': '-'
            }, {
                'name': 'comments',
                'label': 'comments'
            }, {
                'name': 'icons',
                'label': ''
            }, {
                'name': 'labels',
                'label': ''
            }, {
                'name': 'location',
                'label': 'Location:'
            }]
        }, {
            'title': '',
            'type': 'PopularPosts',
            'sectionId': 'page_body',
            'id': 'PopularPosts1',
            'posts': [{
                'title': '',
                'id': 7969571005712494505
            }, {
                'title': 'Closures in Javascript',
                'id': 6389295002801024920
            }]
        }, {
            'type': 'Attribution',
            'sectionId': 'footer',
            'id': 'Attribution1'
        }, {
            'title': '',
            'type': 'BlogArchive',
            'sectionId': 'sidebar_bottom',
            'id': 'BlogArchive1'
        }]
    }]);
    _WidgetManager._RegisterWidget('_FollowByEmailView', new _WidgetInfo('FollowByEmail1', 'subscription', null, document.getElementById('FollowByEmail1'), {}, 'displayModeFull'));
    _WidgetManager._RegisterWidget('_BlogView', new _WidgetInfo('Blog1', 'page_body', null, document.getElementById('Blog1'), {
        'cmtInteractionsEnabled': false,
        'useNgc': false,
        'lightboxEnabled': true,
        'lightboxModuleUrl': 'https://www.blogger.com/static/v1/jsbin/3216537346-lbx.js',
        'lightboxCssUrl': 'https://www.blogger.com/static/v1/v-css/368954415-lightbox_bundle.css'
    }, 'displayModeFull'));
    _WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts1', 'page_body', null, document.getElementById('PopularPosts1'), {}, 'displayModeFull'));
    _WidgetManager._RegisterWidget('_AttributionView', new _WidgetInfo('Attribution1', 'footer', null, document.getElementById('Attribution1'), {}, 'displayModeFull'));
    _WidgetManager._RegisterWidget('_BlogArchiveView', new _WidgetInfo('BlogArchive1', 'sidebar_bottom', null, document.getElementById('BlogArchive1'), {
        'languageDirection': 'ltr',
        'loadingMessage': 'Loading\x26hellip;'
    }, 'displayModeFull'));
</script>

<div class="dim-overlay hidden" id="subscribe-dim-overlay"></div>
<div class="dim-overlay hidden"></div>